.login {
  background-image: url("./images/login_splash.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* flex-grow: 2; */
}

.input-group{
  margin-top: 6rem;
}

.no-gutters {
 margin-right: 0;
 margin-left: 0;
 padding-left: 0;
 padding-right: 0;

}

.dashboard{
  background-color: rgba(138,137,124, 0.7);
  border-radius: 20px;
  margin-top: 2rem;
  padding: 1rem;

}

.workerData{
  background-color: #D2D7DF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.actionbuttons{
  background-color: #D2D7DF;
  padding: 2rem;
  border-radius: 5px;
}

.searchProject{
  margin-top: 4rem;
  background-color: rgba(138,137,124, 0.7);
  padding-bottom: 2rem;

}

header{
  background-color: #353535;
  color:#FFFFFF;
  padding-bottom: 2rem;
  padding-top:  2rem;
  size:3rem;
}

.table{
  background-color: #353535;
  color: #FFFFFF;
  margin: 2rem;
  border-radius: 5px;
}

body{
  background-image: url("./images/drill.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
